@font-face {
  font-family: 'SelfModern';
  src:  url('./font/self-modern_regular_web.woff2') format('woff2'),
        url('./font/self-modern_regular_web.woff') format('woff');
}

body {
  font-family: 'SelfModern', Montserrat, sans-serif;
}
/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  /* --fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans); */
  /* --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625; */
  /* 1.200 Minor Third Type Scale */
  /* --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem; */
  --color-primary: #005b99;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
} 

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: white;
  background-color: #00111C;
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: var(--color-heading);
}

h2 > a:hover,
h2> a:focus {
  transition: all 0.3s ease-in-out;
}

/* Prose */

p {
  font-size: 18px;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: 45px;
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

/* a {
  color: #1a202c;
} */

a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

/* Custom classes */
.global-wrapper {
  position: relative;
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding-top: 5vh;
  padding-bottom: 6vh;
}

.logo-img {
  position: absolute;
  top: 30px;
  height: 35px;
}


.global-header {
  margin-bottom: var(--spacing-12);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.blog-post {
  padding-top: 15vh;
}

.posts-index li a {
  text-decoration: none;
}

.post-list-item {
  outline: 0;
  height: 8rem;
  border-width: 2px;
  border-radius: 1.875rem;
  border-color: white;
  border-style: solid;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
  color: white;
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item:hover {
  background-color: #A0FFCC;
  color: #1C1E1F;
  border-color: #A0FFCC;
  transition: background-color 500ms linear;
  transition: border-color 500ms linear;
}

.bio {
  margin-top: 5.5rem;
  margin-bottom: 8rem;
}

.bio p {
  font-size: 22px;
  margin-bottom: var(--spacing-0);
}

.bio a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.bio a:hover {
  color: #A0FFCC;
}

.bio-description span {
  text-decoration: underline;
  font-weight: bolder;
}

.bio-description span:hover {
  font-weight: bolder;
  text-decoration: underline;
  color: #A0FFCC;
  cursor: pointer;
}

.bio-hidden {
  display: none;
}

.bio-nothidden {
  display: block;
}

.bio-nothidden p {
  margin: 15px 0px 0px 0px;
  font-size: 14px;
}

.bio-buttons {
  margin-top: 25px;
  display: flex;
  float: left;
  flex-wrap: wrap;
}

.bio-buttons::after {
  content: "";
  flex: auto;
}

.bio-button {
  border: 1px solid #A0FFCC;
  border-radius: 3px;
  line-height: 25px;
  text-align: center;
  padding: 5px 12px;
  font-size: 15px;
  margin: 5px 20px 15px 0;
  color: white;
  float: left;
  transition: all 0.15s linear;
}

.bio-button a {
  text-decoration: none;
  color: inherit;
}

.bio-button:hover {
  background-color: #A0FFCC;
  cursor: pointer;
  color: #1C1E1F;
}

#bio-toggler {
  text-decoration: none;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

.divider {
  border-top: 1px solid white;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden

}

.divider::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

/* Footer */

.footer {
  border-top: 1px solid white;
  font-size: 14px;
  padding-top: 50px;
}

.footer a {
  color: white;
  transition: all 0.3s ease-in-out;
  font-weight: bolder;
}

.footer a:hover {
  transition: all 0.2s ease-in-out;
  color: #A0FFCC;
}

.substack-embed iframe {
  margin-bottom: 0px import !important;
}
  
.footer-social-icons {
  display: flex;
  align-items: center;
}

.footer-social-icon:hover {
  color: #A0FFCC;
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }

}

@media only screen and (max-width: 600px)  { 
  .global-wrapper {
    padding: 3vh;
  }
  .bio {
    margin-bottom: 15rem;
  }
}
